@import "variables";

.form {
    background: $cardBackground;
    border-radius: 5px;
    box-shadow: $formShadow;
    max-width: 330px;
    margin: 70px auto;
    padding: 12px;
    label {
        display: none;
    }
    .form__header {
        text-align: center;
        color: $cardTextColor;
        
    }
    .form__field-new {
        display: none;
    }
}