.form {
    background: rgba(255, 255, 255, .6);
    border-radius: 5px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.65);
    max-width: 330px;
    margin: 50px auto;
    padding: 12px;
    label {
        display: none;
    }
    .form__header {
        text-align: center;
        color: #4D5558;
        
    }
    .form__field input {
        background: none;
        border: none;
        border-bottom: 2px solid rgba(185, 187, 187, 0.85);
    }
    .form__btn-login,
    .form__btn-signup {
        max-width: 250px;
        background: rgba(76, 169, 219, 0.9);
        border: none;
        border-radius: 2px;
        padding: 12px;
        &:focus {
            background: rgba(130, 213, 243, 0.9);
            outline: none !important;
            text-decoration: none;
        }
    }
}