.mynav {
    background: #4db6ac;
    color: $navColor;
    font-weight: bold;
    .mynav__title {
        margin: 0;
        padding: 10px;
        background: #00867d;
        text-align: center !important;
    }
    .mynav__list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        .mynav__list-item {
            cursor: pointer;
            position: relative;
            width: 100%;
            text-align: center;
            &:after {
                content: '';
                width: 0;
                transition: width .2s;
            }
            .mynav__list-item-link {
                display: block;
                height: 100%;
                padding: 10px;
                color: inherit;
            }
        }
        .list-item--active:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 6px;
            bottom: 0;
            left: 0;
            background: #00897B;
        }
    }
}

.toolbar {
    margin: auto;
   max-width: 450px;
}

.categories {
    .categories-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dropdownBackground;
        color: $navColor;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        .categories-header__text {
            margin: 0;
            padding: 0;
        }
    }
    .categories-list {
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in;
        .categories-list__category {
            padding: 15px;
            background: $dropdownCategoriesBackground;
            color: $dropdownCategoriesColor;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background: $dropdownBackground;
            }
        }
    }
    .dropdown {
        max-height: 300px;
    }
}

@media (min-width: 768px) {
    .search {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 20px;
    }
}