.resources {
    text-align: center;
    display: grid;
    grid-gap: 15px;
    align-items: start;
    .resource {
        margin: 7px auto;
        background: $cardBackground;
        color: $cardTextColor;
        border-radius: 5px;
        padding: 12px;
        .resource__img-container {
            position: relative;
            text-align: center;
            .resource__category-label {
                text-transform: uppercase;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                background: $navBackground;
                padding: 6px;
            }
            .resource__img {
                background: rgba(0,0,0,.2);
                border-radius: 3px;
            }
        }
        .resource__title {
            text-align: center;
            .resource__title-link {
                color: $cardLinkColor;
            }
        }
        .resource__desc {
            text-align: left;
        }
        .resource__remove-btn {
            display: none;
            background: $formBtnColor;
            border: none;
            padding: 10px;
            font-weight: bold;
            min-width: 180px;
        }
    }
}


@media (min-width: 768px) {
    .resources {
        grid-template-columns: 1fr 1fr;
        .resource {
            max-width: 300px;
            .resource__desc {
                text-align: left;
                max-height: 0;
                overflow: hidden;
                transition: all .7s;
            }
            .show_desc {
                max-height: 550px;
            }
        }
    }
    
}


@media (min-width: 992px) {
    .resources {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .resources {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}