// Project
$mainDark: #00867d;
$mainPrimary: #4db6ac;
$mainSecondary: #B2DFDB;
$textColor: #fff;

$btnPrimary: #9fa8da;
$btnSecondary: #d1d9ff;

// Form and Resource Cards
$cardBackground : $mainSecondary;
$formShadow: 2px 7px 15px -3px rgb(89, 116, 113);
$cardLinkColor : $mainDark;