// Project
$projectBackground : #E0F2F1;

// Nav
$navBackground : #4db6ac;
$navColor : #fff;

// Dropdown
$dropdownBackground : #9fa8da;
$dropdownCategoriesBackground: #d1d9ff;
$dropdownCategoriesColor: #000;
$dropdownColor : #fafafa;
$dropdownItemsColor : #fafafa;

// Form and Resource Cards
$cardBackground : #B2DFDB;
$formColor: #fff;
$formShadow: 2px 7px 15px -3px rgb(89, 116, 113);
$formBtnColor: #9fa8da;
$cardTextColor : rgb(58, 68, 65);
$cardLinkColor : #00695C;