.form {
  background: #B2DFDB;
  border-radius: 5px;
  box-shadow: 2px 7px 15px -3px #597471;
  max-width: 330px;
  margin: 50px auto;
  padding: 12px;
}

.form label {
  display: none;
}

.form .form__header {
  text-align: center;
  color: #3a4441;
}

.form .form__field input,
.form .form__field select {
  background: none;
  border: none;
  border-bottom: 2px solid #6c7270;
  border-radius: 0px;
  padding: 5px;
}

.form .form__field-new {
  display: none;
}

.form .form__btn-login,
.form .form__btn-signup {
  max-width: 250px;
  background: #9fa8da;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: 12px;
}

.form .form__btn-login:hover,
.form .form__btn-signup:hover {
  background: #6f79a8;
  text-decoration: none;
}

.mynav {
  background: #4db6ac;
  color: #fff;
  font-weight: bold;
}

.mynav .mynav__title {
  margin: 0;
  padding: 10px;
  background: #00867d;
  text-align: center !important;
}

.mynav .mynav__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.mynav .mynav__list .mynav__list-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
}

.mynav .mynav__list .mynav__list-item:after {
  content: '';
  width: 0;
  transition: width .2s;
}

.mynav .mynav__list .mynav__list-item .mynav__list-item-link {
  display: block;
  height: 100%;
  padding: 10px;
  color: inherit;
}

.mynav .mynav__list .list-item--active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background: #00897B;
}

.toolbar {
  margin: auto;
  max-width: 450px;
}

.categories .categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9fa8da;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.categories .categories-header .categories-header__text {
  margin: 0;
  padding: 0;
}

.categories .categories-list {
  padding: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in;
}

.categories .categories-list .categories-list__category {
  padding: 15px;
  background: #d1d9ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.categories .categories-list .categories-list__category:hover {
  background: #9fa8da;
}

.categories .dropdown {
  max-height: 300px;
}

@media (min-width: 768px) {
  .search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
  }
}

.resources {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  align-items: start;
}

.resources .resource {
  margin: 7px auto;
  background: #B2DFDB;
  color: #3a4441;
  border-radius: 5px;
  padding: 12px;
}

.resources .resource .resource__img-container {
  position: relative;
  text-align: center;
}

.resources .resource .resource__img-container .resource__category-label {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #4db6ac;
  padding: 6px;
}

.resources .resource .resource__img-container .resource__img {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.resources .resource .resource__title {
  text-align: center;
}

.resources .resource .resource__title .resource__title-link {
  color: #00695C;
}

.resources .resource .resource__desc {
  text-align: left;
}

.resources .resource .resource__remove-btn {
  display: none;
  background: #9fa8da;
  border: none;
  padding: 10px;
  font-weight: bold;
  min-width: 180px;
}

@media (min-width: 768px) {
  .resources {
    grid-template-columns: 1fr 1fr;
  }
  .resources .resource {
    max-width: 300px;
  }
  .resources .resource .resource__desc {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: all .7s;
  }
  .resources .resource .show_desc {
    max-height: 550px;
  }
}

@media (min-width: 992px) {
  .resources {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .resources {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

body {
  background: #E0F2F1;
  min-height: 700px;
}
 

 /*# sourceMappingURL= main.css.map */