@import "variables";
@import "form";
@import "nav";
@import "categories";
@import "resources";
@import "footer";

/*****************
DEFAULT STYLES
******************/
body {
    background: #E0F2F1;
    height: 100%;
    z-index: 4;
}

a {
    color: inherit;
    text-decoration: none !important;
    &:hover {
        color: inherit;
    }
}
p {
    margin: 0;
    padding: 0;
}

main {
    min-height: 640px;
    margin: 40px 0;
}

.input--common {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(108, 114, 112);
    border-radius: 0px;
    padding: 9px;
    &:focus {
        background: none;
        border-bottom: 2px solid rgb(108, 114, 112);
    }
}

.select--common {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(108, 114, 112);
    border-radius: 0px;
    padding: 2px;
    cursor: pointer;
    &:focus {
        background: none;
        border-bottom: 2px solid rgb(108, 114, 112);
    }
}

.btn--common {
    max-width: 250px;
    background: $btnPrimary;
    color: $textColor;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 12px;
    cursor: pointer;
    transition: background .2s;
    &:hover {
        background: #6f79a8;
        text-decoration: none;
    }
}

.btn--link {
    @extend .btn--common;
    display: inline-block;
    &:hover {
        color: $textColor;
    }
}

.btn--small {
    @extend .btn--common;
    padding: 5px;
    font-size: .9rem;
}

.btn--warn {
    @extend .btn--common;
    background: rgb(230, 55, 55);
    &:hover {
        background: rgb(192, 41, 41);
    }
}

.form--warn {
    font-weight: bold;
    margin: 5px 0;
    .form--warn-icon {
        color: rgb(230, 55, 55);
    }
}

.resource-warn-msg, .link-warn-msg {
    display: none;
}
