.form {
  background: #B2DFDB;
  border-radius: 5px;
  box-shadow: 2px 7px 15px -3px #597471;
  max-width: 330px;
  margin: 70px auto;
  padding: 12px;
}

.form label {
  display: none;
}

.form .form__header {
  text-align: center;
  color: #3a4441;
}

.form .form__field-new {
  display: none;
}

.mynav {
  background: #4db6ac;
  color: #fff;
  font-weight: bold;
}

.mynav .mynav__header {
  background: #00867d;
  position: relative;
  padding: 8px;
}

.mynav .mynav__header .mynav__header-title {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-align: center !important;
}

.mynav .mynav__header .mynav__header-dots {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
}

.mynav .mynav__remove-all {
  padding: 10px;
  position: absolute;
  top: -600px;
  left: 60px;
  width: 400px;
  background: #00867d;
  color: #fff;
  z-index: 5;
  text-align: center;
  transition: top 0.5s cubic-bezier(0.85, -0.33, 0.31, 1.19);
}

.mynav .mynav__remove-all .mynav__remove-all-text {
  font-size: 1.4rem;
  margin: 5px 0 10px 0;
}

.mynav .mynav__remove-all .mynav__remove-all-btns {
  display: grid;
  grid-row-gap: 7px;
  justify-items: center;
  margin: 3px 0 8px 0;
}

.mynav .mynav__remove-all .mynav__remove-all-btns .mynav__remove_btn, .mynav .mynav__remove-all .mynav__remove-all-btns .mynav__nevermind_btn {
  min-width: 220px;
}

.mynav .mynav__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 430px;
  margin: auto;
}

.mynav .mynav__list .mynav__list-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
}

.mynav .mynav__list .mynav__list-item:after {
  content: '';
  width: 0;
  transition: width .2s;
}

.mynav .mynav__list .mynav__list-item .mynav__list-item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.mynav .mynav__list .list-item--active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background: #00897B;
}

.toolbar {
  margin: auto;
  max-width: 450px;
}

.toolbar .search {
  display: grid;
  grid-row-gap: 10px;
  text-align: center;
  justify-items: center;
}

.categories .categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9fa8da;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.categories .categories-header .categories-header__text {
  margin: 0;
  padding: 0;
}

.categories .categories-list {
  padding: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in;
}

.categories .categories-list .categories-list__category {
  padding: 15px;
  background: #d1d9ff;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.categories .categories-list .categories-list__category:hover {
  background: #9fa8da;
}

.categories .dropdown {
  max-height: 300px;
}

.mynav__remove-all.show_warn {
  top: 180px;
}

@media (min-width: 768px) {
  .search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    align-items: end;
  }
}

.resources {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  align-items: start;
}

.resources .resource {
  margin: 7px auto;
  background: #B2DFDB;
  color: #3a4441;
  border-radius: 5px;
  padding: 12px;
}

.resources .resource .resource__img-container {
  position: relative;
  text-align: center;
}

.resources .resource .resource__img-container .resource__category-label {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #4db6ac;
  padding: 6px;
}

.resources .resource .resource__img-container .resource__img {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.resources .resource .resource__title {
  text-align: center;
}

.resources .resource .resource__title .resource__title-link {
  color: #00695C;
}

.resources .resource .resource__desc {
  text-align: left;
}

.resources .resource .resource__remove-btn {
  display: none;
  background: #9fa8da;
  border: none;
  padding: 10px;
  font-weight: bold;
  min-width: 180px;
}

@media (min-width: 768px) {
  .resources {
    grid-template-columns: 1fr 1fr;
  }
  .resources .resource {
    max-width: 300px;
  }
  .resources .resource .resource__desc {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: all .7s;
  }
  .resources .resource .show_desc {
    max-height: 550px;
  }
}

@media (min-width: 992px) {
  .resources {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .resources {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

body {
  background: #E0F2F1;
  height: 100%;
  z-index: 4;
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

main {
  min-height: 640px;
  margin: 40px 0;
}

.input--common {
  background: none;
  border: none;
  border-bottom: 2px solid #6c7270;
  border-radius: 0px;
  padding: 9px;
}

.input--common:focus {
  background: none;
  border-bottom: 2px solid #6c7270;
}

.select--common {
  background: none;
  border: none;
  border-bottom: 2px solid #6c7270;
  border-radius: 0px;
  padding: 2px;
  cursor: pointer;
}

.select--common:focus {
  background: none;
  border-bottom: 2px solid #6c7270;
}

.btn--common, .btn--link, .btn--warn {
  max-width: 250px;
  background: #9fa8da;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: 12px;
  cursor: pointer;
  transition: background .2s;
}

.btn--common:hover, .btn--link:hover, .btn--warn:hover {
  background: #6f79a8;
  text-decoration: none;
}

.btn--link {
  display: inline-block;
}

.btn--link:hover {
  color: #fff;
}

.btn--warn {
  background: #e63737;
}

.btn--warn:hover {
  background: #c02929;
}

.footer {
  background: #00867d;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.0rem;
  color: #fff;
}

.footer .footer__logo {
  padding: 0;
  margin: 0;
}

.footer .footer__social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-basis: 175px;
  justify-content: space-between;
}
 

 /*# sourceMappingURL= main.css.map */